@page "/todo"
@using ToDoList.DTO
@inject LocalStorageAccessor LocalStorageAccessor
@inject HttpClient Http

<PageTitle>Todo</PageTitle>

<h1>Todo</h1>
    @foreach(TodoTask item in tasks) {
        <p><input type="checkbox" @bind="item.IsCompleted" @onclick="@(task => SaveAsync(item))" /> @item</p>
    }
<input type="text" @bind=TaskText/>
<button class="btn btn-primary" @onclick="AddTaskAsync">Add</button>

@code {
    private List<TodoTask> tasks = new();
    private string? TaskText {get; set;}

    private async Task SaveAsync(TodoTask edit) {
        // ESTO TA FEO, NO HACER
        await Task.Delay(1);
        await Http.PutAsJsonAsync($"https://localhost:7209/api/TodoItems/{edit.Id}", edit);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) 
        {
            tasks = await Http.GetFromJsonAsync<List<TodoTask>>("https://localhost:7209/api/TodoItems");
            StateHasChanged();
        }
        
    }
    private async Task AddTaskAsync()
    {
        tasks.Add(new TodoTask{Name = TaskText});
        await Http.PostAsJsonAsync("https://localhost:7209/api/TodoItems", new TodoTask{Name = TaskText});
        
        TaskText = "";
    }
}